* {
  /* font-size: 25px; */
  font-size: 25px;
  /* font-weight: bold; */
  
}

/* Assicurati di aggiungere un margine superiore sufficiente */
.main-content {
  margin-top: 200px; /* Regola l'altezza secondo l'altezza della tua navbar */
}

.spanErrore {
  color: #500000;
  text-align: center;
  margin-bottom: 5%;
  /* font-size: 25px; */
  background-color: #000000;
  border-radius: 40px;
}

.header-fixed {
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 5%;
  padding-right: 5%;
}

.contenitore-1 {
  background-color: #000000;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 40px;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-align: center;
  font-size: 40px;
}

.contenitore-2 {
  overflow: hidden;
  border-radius: 40px;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-align: center;
  font-size: 40px;
}

.contenitore-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 100px; /* regola lo spazio tra gli elementi figli */
  /* border: 5px solid #000000; */
  overflow: hidden;
  border-radius: 40px;
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.contenitore-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 100px; /* regola lo spazio tra gli elementi figli */
  /* border: 5px solid #000000; */
  overflow: hidden;
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.bottone-blu-non-selezionato, .bottone-blu-selezionato, 
.bottone-rosso-non-selezionato, .bottone-rosso-selezionato {
  border-radius: 40px;
  border: 5px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;  
  padding: 2% 15%;
}

.bottone-blu-non-selezionato {
  cursor: pointer;
  transition: 0.5s all ease-out;
    &:hover {
    background-color: #0050EF;
    color: #FFFFFF;
  }
}

.bottone-rosso-non-selezionato {
  cursor: pointer;
  transition: 0.5s all ease-out;
    &:hover {
    background-color: #500000;
    color: #FFFFFF;
  }
}

.bottone-blu-selezionato {
  background-color: #0050EF;
}

.bottone-rosso-selezionato {
  background-color: #500000;
}

.checkbox-wrapper, .checkbox-wrapper-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Spaziatura tra i checkbox */
}

.checkbox-wrapper {
  margin-left:20px;
}

.checkbox-wrapper-form {
  margin-left: 200px;
}

.custom-checkbox, .custom-checkbox-rounded {
  color: #000000;
  font-size: 100px;
  width: 30px;  /* Larghezza della casella di selezione */
  height: 30px; /* Altezza della casella di selezione */
  margin-right: 20px; /* Spaziatura tra la casella di selezione e il label */
  background-color: #FFFFFF;
  /* border: 2px solid #0050EF; */
  cursor: pointer;
  
  &:checked {
    background-color: #0050EF; /* Colore di sfondo quando è selezionata */
  }
}

.custom-checkbox-rounded {
  -webkit-appearance: none; /* Rimuove lo stile predefinito */
  appearance: none; /* Compatibilità con altri browser */
  border-radius: 100%; /* Rende la checkbox rotonda */
}

/**********/

/* styles.css */
.dragging {
  opacity: 0.5;
  border: 2px dashed #000;
}

.dragging-clone {
  display: block; /* Rendi il clone visibile */
  position: absolute;
  pointer-events: none; /* Impedisce interazioni con il clone */
  opacity: 0.5;
}

/**********/

.right {
  float: right;
}

.center {
  width: 50%; /* Puoi regolare la larghezza in base alle tue esigenze */
  margin: 0 auto;
  float: none; /* Annulla eventuali flottanti */
  text-align: center; /* Centro il testo all'interno del nav */
}

.left {
  float: left;
}












