* {
  font-size: 25px;
}

/* Assicurati di aggiungere un margine superiore sufficiente */
.main-content {
  margin-top: 200px; /* Regola l'altezza secondo l'altezza della tua navbar */
}

.spanErrore {
  color: #500000;
  text-align: center;
  margin-bottom: 5%;
  /* font-size: 25px; */
  background-color: #000000;
  border-radius: 40px;
}

.header-fixed {
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 5%;
  padding-right: 5%;
}

.contenitore-1 {
  background-color: #000000;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 40px;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-align: center;
  font-size: 40px;
}

.contenitore-2 {
  overflow: hidden;
  border-radius: 40px;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-align: center;
  font-size: 40px;
}

.contenitore-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 100px; /* regola lo spazio tra gli elementi figli */
  /* border: 5px solid #000000; */
  overflow: hidden;
  border-radius: 40px;
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.bottone-blu-non-selezionato, .bottone-blu-selezionato, 
.bottone-rosso-non-selezionato, .bottone-rosso-selezionato {
  border-radius: 40px;
  border: 5px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;  
  padding: 2% 15%;
}

.bottone-blu-non-selezionato {
  cursor: pointer;
  transition: 0.5s all ease-out;
    &:hover {
    background-color: #0050EF;
    color: #FFFFFF;
  }
}

.bottone-rosso-non-selezionato {
  cursor: pointer;
  transition: 0.5s all ease-out;
    &:hover {
    background-color: #500000;
    color: #FFFFFF;
  }
}

.bottone-blu-selezionato {
  background-color: #0050EF;
}

.bottone-rosso-selezionato {
  background-color: #500000;
}












